<h2>Ninja Listing</h2>

<form id="filter">
  <label>Filter ninjas by name:</label>
  <input type="text" [(ngModel)]="term" name="term" />
</form>

<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | filter:term">
    <div class="single-ninja">
      <!-- Ninja Belt -->
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt | slice:1:3}} belt</span>
      <!-- Ninja Name -->
      <h3>{{ninja.name | uppercase}}</h3>
    </div>
  </li>
</ul>

<button (click)="logIt()">Log me</button>